<nav class="menu">
  <div class="navbar">
    <div class="logo bar">
      <img src="./assets/images/menu/navbar/logo.png" alt="">
    </div>
    <div class="items">
      <div>赴台手續</div>
      <div>住宿預訂</div>
      <div>台灣攻略</div>
      <div>台灣遊記</div>
      <div>台灣景點</div>
      <div>旅遊超市</div>
      <div class="search bar">
        <app-icon iconurl="./assets/images/menu/navbar/search.png"></app-icon>
      </div>
    </div>
    <div class="icon_list bar">
      <app-icon iconurl="./assets/images/menu/navbar/wechat.png"></app-icon>
      <app-icon iconurl="./assets/images/menu/navbar/webio.png"></app-icon>
    </div>
  </div>
  <div class="sub_navbar">
    <div class="informations">
      <div class="area">
        <div>台灣‧台北</div>
        <div>當地時間：6:26 PM</div>
      </div>
      <div class="weather">
        <div>
          <span>33</span>°C</div>
        <app-icon iconurl="./assets/images/menu/subnavbar/cloud.png"></app-icon>
      </div>
    </div>
    <div class="money">
      <div class="rmb">
        <app-icon iconurl="./assets/images/menu/subnavbar/rmb.png"></app-icon>
        <span>人民幣 1 元</span>
      </div>
      <div>=</div>
      <div class="twd">
        <app-icon iconurl="./assets/images/menu/subnavbar/twd.png"></app-icon>
        <span>台幣 4.523</span>
      </div>
    </div>
    <div class="items">
      <!-- <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon1.png" title="入台证" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon2.png" title="购买电话卡" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon3.png" title="WIFI租借" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon4.png" title="场馆门票" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon5.png" title="包車游台" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon6.png" title="拼車行程" />
      <subNavbarItem iconurl="./assets/images/menu/subnavbar/icon7.png" title="机场接送" /> -->
    </div>
  </div>
</nav>
