<div class="index">

  <!-- 最上方大圖 -->
  <app-banner imgurl="./assets/images/banner/banner.jpg" title="宜兰传统艺术中心" intro="深知台湾传统艺术" subintro="精华宝藏之地"></app-banner>

  <!-- 最新遊記 -->
  <section class="news">
    <app-icon iconurl="./assets/images/news/title.png"></app-icon>
    <div class="news_content">
      <div class="news_item">
        <app-news-card imgurl="./assets/images/news/news1.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
        <div class="news_item_box">
          <app-news-card imgurl="./assets/images/news/news2.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
          <app-news-card imgurl="./assets/images/news/news3.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
        </div>
      </div>
      <div class="news_item reverse">
        <app-news-card imgurl="./assets/images/news/news6.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
        <div class="news_item_box">
          <app-news-card imgurl="./assets/images/news/news4.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
          <app-news-card imgurl="./assets/images/news/news5.jpg" intro="【台北西门站】一甲子碗粿、刈包专卖店，享受十足台湾味就要来这!" place="台北"></app-news-card>
        </div>
      </div>
    </div>
    <app-button imgurl="./assets/images/news/button.png" text="更多游记"></app-button>
  </section>

  <!-- 住宿推薦 -->
  <section class="card_block">
    <app-button imgurl="./assets/images/hotel/title.png" text="更多游记"></app-button>
    <div class="card_item">
      <app-card imgurl="./assets/images/hotel/hotel1.jpg" intro="獨棟房屋中的獨立房間" place="板桥区" name="美丽殿城市商旅-板桥馆"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel2.jpg" intro="整套公寓‧1张床" place="中正区" name="α11日风和室1-2人房【都市小清新系列】高铁/捷运/台北车站 7分钟"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel3.jpg" intro="精品旅店中的房间" place="日月潭" name="日月潭儿茶宿sun moon tea b&b 双人房,水社商圈2018全新住宿"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel4.jpg" intro="独立房间" place="日月潭" name="潭晖旅店 高级六人房(附早餐)"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel5.jpg" intro="豪华双人房 " place="板桥区" name="佳朋樂居時尚旅店 (Love House Inn)"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel6.jpg" intro="家庭客房-客厅" place="台中市 北区" name="台中楼特住宿 - 一中馆 (Taichung Loft Hostel - Yizhong)"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel7.jpg" intro="高级双人房 - 客房" place="中正区" name="佳朋樂居時尚旅店 (Love House Inn)"></app-card>
      <app-card imgurl="./assets/images/hotel/hotel8.jpg" intro="高级双人房 - 客房" place="台南市" name="山上的卡夫卡 (mountain kafka Hostel)"></app-card>
    </div>
    <app-button imgurl="./assets/images/hotel/button.png" text="更多游记"></app-button>
  </section>

  <!-- 餐廳指南 -->
  <section class="card_block">
    <app-icon iconurl="./assets/images/food/title.png"></app-icon>
    <div class="card_item">
      <app-card imgurl="./assets/images/food/food1.jpg" intro="咖啡和茶" place="大安区" name="黑熊先生巧克力布朗尼"></app-card>
      <app-card imgurl="./assets/images/food/food2.jpg" intro="平价美食" place="中山区" name="富霸王猪脚极品"></app-card>
      <app-card imgurl="./assets/images/food/food3.jpg" intro="平价美食" place="信义区" name="马友友印度厨房"></app-card>
      <app-card imgurl="./assets/images/food/food4.jpg" intro="高级餐厅" place="信义区" name="珐兰绮瑥朵茶餐馆"></app-card>
      <app-card imgurl="./assets/images/food/food5.jpg" intro="中等价位 " place="板桥区" name="彩日本料理"></app-card>
      <app-card imgurl="./assets/images/food/food6.jpg" intro="当地菜系" place="中山区" name="鱼绅海鲜美食餐厅"></app-card>
      <app-card imgurl="./assets/images/food/food7.jpg" intro="高级餐厅 - 客房" place="板桥区" name="the kitchen table 西餐厅-台北W饭店"></app-card>
      <app-card imgurl="./assets/images/food/food8.jpg" intro="咖啡和茶 - 客房" place="信义区  " name="紫艳酒吧 - 台北W饭店"></app-card>
    </div>
    <app-button imgurl="./assets/images/food/button.png" text="更多游记"></app-button>
  </section>

  <!-- 台灣游必買 -->
  <section class="buy">
    <div class="title">
      <!-- button... -->
    </div>
    <div class="content">
      <div class="items">
        <app-product imgurl="./assets/images/buy/buy1.jpg" name="台北101悠游卡套组" money="84"></app-product>
        <app-product imgurl="./assets/images/buy/buy2.jpg" name="中华电信 4G电信卡" money="115"></app-product>
        <app-product imgurl="./assets/images/buy/buy3.jpg" name="清境-合欢山日出拼车" money="83"></app-product>
        <app-product imgurl="./assets/images/buy/buy4.jpg" name="日月潭自行车之旅" money="200"></app-product>
        <app-product imgurl="./assets/images/buy/buy4.jpg" name="日月潭自行车之旅" money="200"></app-product>
        <app-product imgurl="./assets/images/buy/buy4.jpg" name="日月潭自行车之旅" money="200"></app-product>
        <app-product imgurl="./assets/images/buy/buy4.jpg" name="日月潭自行车之旅" money="200"></app-product>
      </div>
    </div>
  </section>
</div>
